.toolbarMenu {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 200px;
  max-height: 500px;
  padding: 10px 20px;
  overflow-y: auto;
  border: 1px solid #dcdfe6;
  border-radius: 10px;

  .toolbarMenuOption {
    margin-top: 10px;
  }

  .toolbarMenuLayer {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 20px 0 10px;

    .on {
      background-color: var(--active-bg-color);
      border-radius: 5px;

      path {
        fill: #fff;
      }
    }

    .el-icon {
      box-sizing: border-box;
      width: 25px;
      height: 25px;
      padding: 2px;
      cursor: pointer;
      border: 1px dashed #409eff;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
