@use 'theme';
@use 'transition';
@use 'element-plus';
@use 'sidebar';
@use 'dark';

/* 自定义全局 CssVar */
:root {
  /* 左侧菜单展开、收起动画时长 */
  --pure-transition-duration: 0.3s;

  /* 常用border-color 需要时可取用 */
  --pure-border-color: rgb(5 5 5 / 6%);

  /* switch关闭状态下的color 需要时可取用 */
  --pure-switch-off-color: #a6a6a6;

  /** 主题色 */
  --pure-theme-sub-menu-active-text: initial;
  --pure-theme-menu-bg: none;
  --pure-theme-menu-hover: none;
  --pure-theme-sub-menu-bg: transparent;
  --pure-theme-menu-text: initial;
  --pure-theme-sidebar-logo: none;
  --pure-theme-menu-title-hover: initial;
  --pure-theme-menu-active-before: transparent;

  // 白板
  --active-bg-color: #3f85ed;
  --text-color: #000;
  --title-box-shadow: 0 15px 40px rgb(0 0 0 / 50%), 0 6px 20px rgb(0 0 0 / 30%);
}

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}

.map-content {
  width: 100%;
  height: 100%;
  margin: 0 !important;
}

.text {
  color: var(--text-color);
}

.theme-icon {
  .el-icon {
    fill: var(--text-color);

    path {
      fill: var(--text-color);
    }
  }
}

.excalidraw {
  .App-toolbar__extra-tools-dropdown {
    .dropdown-menu-container > :nth-child(2),
    .dropdown-menu-container > :nth-child(4),
    .dropdown-menu-container > :nth-child(5) {
      display: none !important;
    }
  }

  .HelpDialog {
    .HelpDialog__header {
      display: none !important;
    }
  }

  .popover {
    .context-menu {
      .context-menu-item {
        width: 180px !important;
      }
    }
  }

  .disable-zen-mode {
    display: none !important;
  }
}

.excalidraw-readonly {
  .excalidraw {
    .FixedSideContainer_side_top {
      display: none !important;
    }

    .layer-ui__wrapper__footer {
      .layer-ui__wrapper__footer-right {
        .help-icon {
          display: none !important;
        }
      }
    }
  }
}
